$black: #000;
$white: #FFFFFF;
$green: #39d371;
$dark_green: #36aa60;
$red: #ff0000;
$dark_red: #b61515;
$gray: #a0a0a0;

$font_family: 'Open Sans', sans-serif;

$desktop: '1200px';
$desktopLg: '1800px';